{% extends 'user/base.html' %}


{% block content %}
{% load static %}
    <!-- breadcrumb start-->
    <section class="breadcrumb breadcrumb_bg">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="breadcrumb_iner text-center">
                        <div class="breadcrumb_iner_item">
                            <p>Home <span>/</span>Gallery</p>
                            <h2>Gallery</h2>
                        </div>
                    </div> 
                </div>
            </div>
        </div>
    </section>
    <!-- breadcrumb start-->
  <!--::exclusive_item_part start::-->
  <section class="team_member_section section_padding">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-8 col-xl-6">
                <div class="section_tittle">
                    <p>our gallery</p>
                    <h2>Some Awesome Moments</h2>
                </div>
            </div>
        </div>
        <div class="row d-flex align-items-center">
            {% for gallery in gallerys%}
            <div class="col-sm-6 col-lg-4">
                <div class="single_blog_item">
                    <div class="single_blog_img">
                        <img src="{{gallery.image.url}}" alt="" style="height: 400px; width: 100%; margin-bottom: 20px;">
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</section>
<!--::exclusive_item_part end::-->
{% endblock %}
